.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Deployment Instructions.txt
/ARCHIVE
/battleships
/birthday-planning
/change-management-game
/data
/coin-game
/communication
/components
/context-switching
/do-others-work-first-js
/health-check
/lego-flow
/login
/mastermind
/monitor
/monte-carlo
/no-estimates
/no-estimates-game
/pairing-simulation-js
/pig-racing
/planning-poker
/socket-test
/survival
/video
/www
