.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Deployment Instructions.txt
/ARCHIVE
/battleships
/birthday-planning
/change-management-game
/data
/coin-game
/communication
/components
/context-switching
/do-others-work-first-js
/health-check
/interdependent-teams
/jira
/kanban
/keep
/labs
/lego-flow
/login
/mastermind
/monitor
/monte-carlo
/no-estimates
/no-estimates-game
/no-estimates-mobile
/organisations and teams template
/pipeline-game-3d
/pairing-simulation-js
/pig-racing
/pipeline-game
/planning-poker
/socket-test
/socket-test-new
/survival
/test-app
/three.js
/video
/www
/zoom
